<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rackst*r</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Monoton|Poiret+One" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo title left">rackst*r</a>
            <ul id="nav-mobile" class="right ">
                <li>
                    <a href="/users">Users</a>
                </li>
                <li>
                    <a href="/users/allRoutines">Routines</a>
                </li>
                <li>
                    <a href="/users/allComments">Comments</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        {{{body}}}
    </main>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text title left">rackst*r</h5>
                    <br/>
                    <a class="grey-text text-lighten-3 right" href="/users/new">Create an Account</a>

                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 rackst*r
            </div>
        </div>
    </footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>

</html>