
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Poiret One', cursive;
    justify-content: center;
    align-items: center;
    background-image: url('http://www.kahode.com/i/2017/03/modern-weight-room-large-design-idea-with-industrial-style-cool-decorative-red-dumbbells-4-indoor-tennis-court-layout-houston-basketball-tdecu-stadium-luxury-sport-center-building-elegant.jpg');
    background: linear-gradient(
      rgba(255, 255, 255, 0.9), 
      rgba(255, 255, 255, 0.9)
    ),url('http://www.kahode.com/i/2017/03/modern-weight-room-large-design-idea-with-industrial-style-cool-decorative-red-dumbbells-4-indoor-tennis-court-layout-houston-basketball-tdecu-stadium-luxury-sport-center-building-elegant.jpg');
    background-position: center;

  }


  input, label {
    color:rgba(77, 77, 77, 0.562);
    font-size: 14px;
  }


h1{
  font-family: 'Archivo Black', sans-serif;
}

.title {
  font-family: 'Monoton', cursive;

}

h3{
  font-weight: 700;
  color: rgba(0, 26, 63, 0.788);
}

  main {
    flex: 1 0 auto;
  }

  footer {
    width: 100%;
  }

  a{
    font-weight: bolder;
    display: inline-block;


  }

  .list{
    font-size: 25px;
  }
      