<h3>Users</h3>
{{#each users}}
<h4><a href="/users/{{_id}}">{{username}}</a></h4>
<a href="/users/{{_id}}/routines/">Routines</a>
<a href="/users/{{_id}}/comments/">Comments</a>
{{/each}}


<a href="/users/new">Sign up!</a>