<h1>Users</h1>
{{#each users}}
<h3><a href="/users/{{_id}}">{{username}}</a></h3>
<a href="/users/{{_id}}/routines/">Routines</a>
<a href="/users/{{_id}}/comments/">Comments</a>
{{/each}}


<a href="/users/new">Sign up!</a>