<h1>Create a rackstar account!</h1>

<form action="/users" method="POST">
<div>
    <label for="name">Your Name</label>
    <input type="text" name="name">
</div>
<div>
    <label for="age">Your Age</label>
    <input type="text" name="age">
</div>
<div>
    <label for="email">Your email</label>
    <input type="text" name="email">
</div>
<div>
    <label for="username">Your Username</label>
    <input type="text" name="username">
</div>
<button type="submit">Submit</button>


<a href="/users">Back to User Index</a>
</form>